---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Kunal Yadavaa
  </div>
  <div class="inline opacity-75">
    Developed by <a
      href="https://portfolio.kunalyadavaa.site/"
      target="_blank"
      class="font-bold">Kunal Yadavaa</a
    > using
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a
      href="https://github.com/kunalyadavaa/astrofy"
      target="_blank"
      class="font-bold">Hazel Homelab ⚡️</a
    >
  </div>
</footer>
<style></style>
